body {
    margin:0;
    padding:0;
    background-color: rgb(49, 54, 58);
    font-family: sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}
/* Element */
.container {
    display: flex;
    padding: 20vh;
    justify-content:center;
}

.profile-detail {
    width:300px;
    text-align: justify;
    padding: 0px 20px;
    color:white;
    line-height: 1.3;
    font-size: 14px;
    margin-left: 20px;
    height:52vh;
    overflow-y:scroll
}

.profile-card {
    width: 300px;
    display: flex;
}

.profile-tab ul li {
    padding:10px;
    background-color: rgb(255,255,255);
    font-weight: bold;
    cursor: pointer;
}

.profile-tab ul li:hover {
    background-color: rgb(217, 162, 130);
    transition: 0.1s ease;
    font-size: 20px;
}

.profile-tab ul li:first-child{
    border-top-right-radius: 3px;
}

.profile-tab ul li:last-child {
    border-bottom-right-radius: 3px;
}

.profile-container {
    width: 250px;
    border : solid 2px rgba(255,255,255,1);
    border-radius: 3px;
    border-top-right-radius: 0;
    text-align: center;
   
}

.box-image {
    height: 40vh;
    overflow: hidden;
    /* border : solid 1px rgba(0,0,0,0.3); */
    position: relative;
}

.box-image img {
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width: 200%;
}

.desc-image {
    padding:20px;
    background-color:rgb(217, 162, 130);
}

.desc-image h3 {
    margin:0;
}